@layer component {
    .Chip {
        display: flex;
        align-items: center;
        background-color: var(--color-gray-100);
        color: var(--color-gray-900);
        border-radius: 0.375rem;
        font-size: 0.875rem;
        padding: 0.2rem 0.2rem 0.2rem 0.4rem;
        overflow: hidden;
        gap: 0.25rem;
        outline: 0;
        cursor: default;

        &:focus-within {
            background-color: var(--color-blue);
            color: var(--color-gray-50);
        }

        @media (hover: hover) {
            &[data-highlighted] {
                background-color: var(--color-blue);
                color: var(--color-gray-50);
            }
        }
    }

    .ChipRemove {
        border: none;
        background: none;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        border-radius: 0.375rem;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-gray-200);
            }
        }
    }
}