@layer custom {
    :root { 
        --cells-width: 65vw;
        --row-margin: 1.5rem;
        --prefix-width: 20vw;
        --suffix-width: 15vw;
        --row-padding: 1rem;
        --row-width: 90%;
        --prefix-gap: 1rem;
        --carousel-arrow-offset: 1.5rem;
        --carousel-count: 7;
    }

    .Content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-background);
        position: relative;
        user-select: none;
    }

    .NoUnits {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
