@layer custom {
    :root { 
        --cells-width: 65vw;
        --row-margin: 1.5rem;
        --prefix-width: 17vw;
    }

    .Content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-background);
        position: relative;
    }
}