@layer custom {
    .Item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column-start: 2;
        padding-left: 0;

        &[data-selected] {
            padding-right: 2rem;
        }
    }

    .Material {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .MaterialTexts {
        display: flex;
        flex-direction: column;
    }

    .MaterialTitle {
        font-size: 0.8rem;
    }

    .MaterialDescription {
        font-size: 0.7rem;
    }

    .Button {
        background-color: transparent;
        border: none;
    }

    .Icon {
        width: 1.2rem;
        color: darkkhaki;
    }

    .Label {
        font-size: 0.6rem;
    }
}
