@layer base {
    .Stepper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
    }

    .horizontal {
        flex-direction: row;
    }

    .vertical {
        flex-direction: column;
    }
}