@layer custom {
    .Control {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.2rem;
        visibility: hidden;

        &[data-show="true"] {
            visibility: visible;
        }
    }

    .SubRowOpener {
        width: 1rem;
        height: 1rem;

        &[data-open="true"] {
            color: var(--report-color);
        }
    }

    .ChildrenSum {
        width: 1rem;
        height: 1rem;
    }
}
