@layer base {
    .Indicator {
        width: 1.2rem;
        height: 1.2rem;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        transition: all 0.2s;

        &[data-active] {
            border-color: #007bff;
            background: #007bff;
            color: white;
        }

        &[data-completed] {
            border-color: #2ecc71;
            background: #2ecc71;
            color: white;
        }
    }
}