@layer base {
    .Indicator {
        width: 1.2rem;
        height: 1.2rem;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        transition: all 0.2s;

        &[data-active] {
            background-color: blue;
            color: white;
        }

        &[data-completed] {
            background: #2ecc71;
            color: white;
        }
    }

    .Icon {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        border: none;
        transition: inherit;
    }
}