@layer custom {
    .Header {
        display: flex;
        width: 95%;
        margin: 0.5rem var(--row-margin);

        .Units {
            display: flex;
            width: 65vw;
            justify-content: space-around;
            min-height: 8%;
            align-items: center;
            margin-right: 0.5rem;
            
            .UnitDescription {
                font-weight: 600;
            }
        }
    }
}
