@layer custom {
    :root {
        --content-padding: 3rem;
        --title-height: 4rem;
    }

    .Button {
        border: none;
        background-color: transparent;
        user-select: none;
        cursor: pointer;
    }

    .Backdrop {
        position: fixed;
        min-height: 100dvh;
        inset: 0;
        background-color: black;
        opacity: 0.2;
        transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

        @media (prefers-color-scheme: dark) {
            opacity: 0.7;
        }

        &[data-starting-style],
        &[data-ending-style] {
            opacity: 0;
        }
    }

    .Popup {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 40rem;
        margin-top: -2rem;
        padding: 1.5rem 0;
        border-radius: 3rem;
        background-color: white;
        transition: all 150ms;
        transform: translate(-50%, -50%) scale(calc(1 - 0.1 * var(--nested-dialogs)));
        translate: 0 calc(0px + 1.25rem * var(--nested-dialogs));

        @media (prefers-color-scheme: dark) {
            outline: 1px solid var(--color-gray-300);
        }

        &[data-nested-dialog-open] {
            &::after {
                content: "";
                inset: 0;
                position: absolute;
                border-radius: inherit;
                background-color: rgb(0 0 0 / 0.05);
            }
        }

        &[data-starting-style],
        &[data-ending-style] {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.9);
        }

        .Title {
            height: var(--title-height);
            box-shadow: 0 8px 3px -3px rgb(205, 204, 204);

            .Text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                gap: 0.8rem;

                .Id {
                    font-size: 1.2rem;
                    font-weight: 300;
                }

                .Description {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }

            .Close {
                position: absolute;
                left: 2rem;
                top: calc(var(--title-height) / 2);
                background-color: transparent;
                border: none;
            }
        }

        .Content {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            width: 100%;

            .Message {
                height: 12rem;
                border-radius: 1rem;
                width: calc(100% - var(--content-padding) * 2);
                border: 1px solid #5479F71F;
                background-color: #FDFDFF;
                font-size: 1rem;
                resize: none;
                padding: 1rem;
            }
        }

        .Footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: var(--content-padding);
            margin-top: 0.5rem;

            .Actions {
                display: flex;
                justify-content: end;
                gap: 1rem;
            }

            .Length {
                font-size: 0.7rem;
                color: #75769A;
            }
        }
    }
}
