@layer component {
    .Label {
        color: white;

        &[data-active] {
            color: #007bff;
        }

        &[data-completed] {
            color: red;
        }

        &[data-inactive] {
            color: white;
        }
    }

    .Indicator {
        font-size: 0.7rem;

        &[data-completed] {
            background-color: red;
        }
    }
}