@layer custom {
    @layer custom {
        .Step {
            cursor: pointer;

            .Indicator {
                font-size: 0.7rem;
            }

            &[data-state='active'] {
                .Label {
                    color: var(--step-color);
                }

                .Indicator {
                    background-color: var(--step-color);
                }
            }

            &[data-state='completed'] {
                .Label {
                    color: color-mix(in srgb, var(--step-color), white 40%);
                }

                .Indicator {
                    background-color: var(--step-color);
                }
            }

            &[data-state='inactive'] {
                .Label {
                    color: white;
                }

                .Indicator {
                    background-color: white;
                }
            }
        }

        .Icon {
            height: 0.9rem;
        }
    }

}