@layer custom {
    .Combobox {
        display: flex;
    }
    
    .Container {
        background: rgb(216, 216, 216, 0.3);
        border-radius: var(--navbar-radius) 0 0 var(--navbar-radius);
        height: 6vh;
        width: 22vw;
    }

    .ItemIndicatorIcon {
        height: 1rem;
        width: 1rem;
    }

    .Plus {
        background-color: var(--report-color);
        border: none;
        border-radius: 0 var(--navbar-radius) var(--navbar-radius) 0;
        height: 6vh;
    }
}