@layer base {
    .Accordion {
        display: flex;
        justify-content: center;
        color: var(--color-gray-900);

        .Item {
            width: 100%;
        }
    }

    .Trigger {
        background: transparent;
        border: none;
        justify-content: end;
        align-items: center;
        display: flex;
        gap: 0.5rem;
    }

    .Panel {
        height: var(--accordion-panel-height);
        overflow: hidden;
        transition: height 150ms ease-out;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &[data-starting-style],
        &[data-ending-style] {
            height: 0;
        }
    }
}
