@layer custom {
    .Chip {
        display: flex;
        align-items: center;
        background-color: rgba(87, 74, 137, 0.3);
        color: white;
        border-radius: 0.5rem;
        font-size: 0.75rem;
        padding: 0.1rem 0.2rem;
        max-width: 100%;
        min-width: 0;


        @media (hover: hover) {
            &[data-highlighted] {
                background-color: var(--color-blue);
                color: var(--color-gray-50);
            }
        }
    }

    .ChipText {
        display: block;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
