@layer custom {
    :root {
        --row-height: 80px;
        --row-color: #ffffff;
    }

    .ContentBody {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-bottom: 1rem;
        gap: 1rem;

        .Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem 0 2rem;

            .TriggerIcon {
                box-sizing: border-box;
                flex-shrink: 0;
                width: 1rem;
                transition: transform 150ms ease-out;

                [data-panel-open] > & {
                    transform: rotate(90deg) scale(1.1);
                }
            }

            .Actions {
                display: flex;

                &[data-open=false] {
                    visibility: hidden;
                }
            }
        }

        .Category {
            margin: 0;
        }
    }
}
