@layer custom {
    :root {
        --row-height: 80px;
        --row-color: #ffffff;
    }

    .ContentBody {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-bottom: 1rem;
        gap: 1.3rem;
        margin-top: 1rem;

        .Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 calc(var(--row-margin) * 1.7);
            margin-bottom: 0.5rem;
            user-select: none;
        }

        .Panel {
            gap: 0.5rem;
            align-items: center;
            user-select: none;
        }

        .Category {
            margin: 0;
        }
    }
}
