@layer base {
  .Container {
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .Chips {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.125rem;
    border: 1px solid var(--color-gray-200);
    border-radius: 0.375rem;
    padding: 0.25rem 0.375rem;
    width: 16rem;

    @media (min-width: 500px) {
      width: 22rem;
    }
  }

  .Chip {
    display: flex;
    align-items: center;
    background-color: var(--color-gray-100);
    color: var(--color-gray-900);
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
    overflow: hidden;
    gap: 0.25rem;
    outline: 0;
    cursor: default;

    &:focus-within {
      background-color: var(--color-blue);
      color: var(--color-gray-50);
    }

    @media (hover: hover) {
      &[data-highlighted] {
        background-color: var(--color-blue);
        color: var(--color-gray-50);
      }
    }
  }

  .Input {
    box-sizing: border-box;
    padding-left: 0.5rem;
    margin: 0;
    border: none;
    height: 2rem;
    border-radius: 0.375rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-gray-900);
    min-width: 3rem;

    &:focus {
      outline: none;
    }
  }

  .ChipRemove {
    border: none;
    background: none;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    border-radius: 0.375rem;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-gray-200);
      }
    }
  }

  .Positioner {
    outline: 0;
  }

  .Popup {
    box-sizing: border-box;
    border-radius: 0.375rem;
    background-color: canvas;
    color: var(--color-gray-900);
    width: var(--anchor-width);
    max-height: 23rem;
    max-width: var(--available-width);
    transition:
      opacity 0.1s,
      transform 0.1s;
    transform-origin: var(--transform-origin);

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: scale(0.95);
    }

    @media (prefers-color-scheme: light) {
      outline: 1px solid var(--color-gray-200);
      box-shadow:
        0 10px 15px -3px var(--color-gray-200),
        0 4px 6px -4px var(--color-gray-200);
    }

    @media (prefers-color-scheme: dark) {
      outline: 1px solid var(--color-gray-300);
      outline-offset: -1px;
    }
  }

  .List {
    box-sizing: border-box;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding-block-end: 0.5rem;
    scroll-padding-block: 0.5rem;
    outline: 0;
    max-height: min(23rem, var(--available-height));

    &[data-empty] {
      padding: 0;
    }
  }

  .Item {
    box-sizing: border-box;
    outline: 0;
    cursor: default;
    user-select: none;
    padding-block-start: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    gap: 0.8rem;
    align-items: center;
    grid-template-columns: 0.75rem 1fr;
    font-size: 1rem;
    line-height: 1rem;

    &[data-highlighted] {
      z-index: 0;
      position: relative;
      background-color: var(--color-gray-300);
    }
  }

  .Separator {
    background-color: black;
    height: 0.1rem;
    grid-column: 1 / -1;
  }

  .ItemText {
    grid-column-start: 2;
  }

  .ItemIndicator {
    grid-column-start: 1;
  }

  .ItemIndicatorIcon {
    display: block;
    width: 1rem;
    height: 1rem;
  }

  .Empty:not(:empty) {
    font-size: 0.925rem;
    color: var(--color-gray-600);
    padding: 1rem;
  }
}