@layer custom {
    .Trigger {
        .Icon {
            stroke-width: 0.1rem;
            width: 1.3rem;
        }
    }

    .Drawer {
        position: absolute;
        width: min(100vw, 36rem);
        box-sizing: border-box;
    }

    .DrawerContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;
    }
}
