@layer custom {
    .Container {
        background: transparent;
        border: 1px solid var(--color-navbar-border);
        border-radius: var(--navbar-radius);
        width: 15vw;
    }
    
    .Input {
        height: 2.5rem;
        padding-right: 2rem;
        color: white;
    }   

    .Trigger {
        right: 11vw;
        width: 2rem;
        background-color: transparent;

        .TriggerIcon {
            color: white;
        }
    }

    .ClearIcon {
        width: 1rem;
        color: white;
    }

    .ActionButtons {
        margin-right: 0.5rem;
    }

    .Label {
        border-radius: 0.5rem;
    }
}
