@layer component {
    .Input {
        width: 16rem;
        height: 2.5rem;
        color: white;
    }

    .InputWrapper {
        position: relative;

        &:has(.Clear) .Input {
            padding-right: calc(0.5rem + 1.5rem * 2);
        }
    }

    .Clear {
        color: white;
    }
}