@layer custom {
    .Container {
        background: rgb(216, 216, 216, 0.3);
        border-radius: var(--navbar-radius);
    }

    .Input {
        width: 15vw;
        height: 2.5rem;
        padding-right: 2rem;
        color: white;
    }

    .ActionButtons {
        margin-right: 0.5rem;
    }

    .InputWrapper {
        position: relative;
    }

    .Clear {
        color: white;
    }
}