@layer base {
    .InputWrapper {
        position: relative;

        .Date {
            padding-right: 2.5rem;
            color: white;
            border: 1px solid var(--color-navbar-border);
            width: 12vw;
        }
    }

    .CalendarIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
        color: white;
        stroke-width: 0.1rem;
    }

    .Icon {
        width: 1.25rem;
        height: 1.25rem;
    }

    .Popup {
        box-sizing: border-box;
        background-color: canvas;
        color: var(--color-gray-900);
        transform-origin: var(--transform-origin);
        transition:
            transform 150ms,
            opacity 150ms;

        border: 1px solid var(--color-gray-200);
        border-radius: 0.635rem;
        padding: 12px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

        &[data-starting-style],
        &[data-ending-style] {
            opacity: 0;
            transform: scale(0.9);
        }   
    }
}
