@layer custom {
    .DabaPage {
        width: 100vw;
        height: 100vh;
        background-color: var(--color-background);
    }

    .Header {
        height: 3.75rem;
    }

    .Content {
        height: calc(100% - 3.75rem);
    }
}
