@layer custom {
    :root {
        --icon-stroke-width: 1.5px;
    }

    .Suffix {
        width: 10vw;
        display: flex;
        justify-content: end;

        .Icon {
            color: black;
            stroke-width: var(--icon-stroke-width);
        }
    }
}