@layer custom {
    .Header {
        height: 100%;
        background: var(--color-navbar-background);
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        --navbar-radius: 0.625rem;
        padding: 0 1rem;
    }

    .Right,
    .Left {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        
        .Separator {
            background-color: rgba(255, 255, 155, 0.3);
            width: 0.5px;
            height: 1rem;
            flex-shrink: 0;
            align-self: stretch;
            margin: 0.75rem 0 0.75rem 0;
        }
    }

    .Launch,
    .Save {
        color: white;
        margin-right: 0.25rem;
    }
}
