@layer component {
    .Header {
        height: 100%;
        background: var(--color-navbar-bg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        --navbar-radius: 0.625rem;
    }

    .Right {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
    }
    
    .Left {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    .Launch,
    .Save {
        color: white;
        margin-right: 0.25rem;
    }
}