@layer custom {
    .Content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        direction: rtl;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .Title {
        font-weight: 700;
        font-size: 1rem;
        padding: 0.75rem 1rem;
    }

    .List {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

}
