@layer base {
    .Label {
        width: fit-content;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        border-radius: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}