@layer base, library, component;
@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  box-sizing: border-box;
  direction: rtl;
}