@layer custom {
    .SubRow {
        padding: 0 var(--row-padding);
        height: var(--row-height);
        border-radius: 0 0 3rem 3rem;
        background-color: var(--row-color);

        &[data-subrow-open="true"] {
            border-radius: 0;
        }
    }

    .Label {
        font-size: 0.2rem;
    }

    .Separator {
        background-color: #E9EDFE;
        height: 0.5px;
        width: 95%;
    }
}
