@layer component {
    .Item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column-start: 2;
    }
    
    .Material {
        display: flex;
        flex-direction: column;
    }

    .Button {
        background-color: transparent;
        border: none;
    }

    .Icon {
        color: rgba(192, 61, 127, 0.8);
    }
}