@layer custom {
    .Item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column-start: 2;
        padding-right: 0;

        &[data-selected] {
            padding-right: 2rem;
        }
    }
    
    .Material {
        display: flex;
        flex-direction: column;
    }

    .Button {
        background-color: transparent;
        border: none;
    }

    .Icon {
        color: darkkhaki;
    }
}