@layer custom {
    .Row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--row-color);
        height: var(--row-height);
        border-radius: 3rem;
        align-items: center;
        padding: 0 1rem;

        .Separator {
            background-color: rgba(255, 255, 155, 0.3);
            width: 0.5px;
            height: 1rem;
            flex-shrink: 0;
            align-self: stretch;
            margin: 0.75rem 0 0.75rem 0;
        }

        &[data-row-open="true"] {
            border-radius: 3rem 3rem 0 0;
        }
    }
}
