@layer custom {
    .Row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--row-color);
        height: var(--row-height);
        border-radius: 3rem;
        align-items: center;
        padding: 0 var(--row-padding);

        &[data-row-open="true"] {
            border-radius: 3rem 3rem 0 0;
        }
    }
}
