@layer custom {
    .Prefix {
        display: flex;
        flex-direction: column;
        width: var(--prefix-width);
        margin-right: var(--prefix-gap);
        
        .MaterialId {
            display: flex;
            gap: 0.25rem;
        }

        .Nickname {
            font-weight: 600;
        }
    }

}
