@layer custom {
    .Combobox {
        visibility: hidden;

        &[data-input-visible="true"] {
            visibility: visible;
        }
    }

    .Popup {
        padding: 0;
    }

    .Container {
        background: white;
        border-radius: 0.675rem;
        border: 2px solid var(--color-border);
        height: 5vh;
        width: var(--prefix-width);
        margin-right: var(--prefix-gap);
    }

    .Chips {
        position: relative;
        padding-right: 0.5rem;
        padding-left: 2rem;
    }

    .Trigger {
        left: 0.5rem;
        right: auto;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;

        &:hover {
            background-color: transparent;
        }
    }

    .TriggerIcon {
        color: black;
    }

    .Plus {
        width: 0.8rem;
        color: var(--report-color);
    }

    .Input {
        color: black;
        font-size: 0.8rem;
    }

    .Item {
        padding: 0.5rem 0.5rem;

        &[data-selected]::before,
        &[data-highlighted]::before {
            inset-inline: 0;
            border-radius: 0;
        }
    }

    .ItemNoIndicator[data-selected]::before {
        width: 100%;
    }
}
