@layer custom {
    .Container {
        background: white;
        border-radius: 0.675rem;
        border: 2px solid var(--color-border);
        height: 5vh;
        width: var(--prefix-width);
        margin-right: 0.5rem;
    }

    .Chips{
        padding-right: 0.5rem;
    }

    .Trigger { 
        right: var(--prefix-width);
        margin-right: 0.5rem;
        width: 2rem;

        &:hover {
            background-color: transparent;
        }
    }

    .TriggerIcon {
        color: black;
    }

    .PlusIcon {
        width: 0.8rem;
        color: var(--report-color);
    }

    .Input {
        color: black;
        font-size: 0.8rem;
    }

    .ItemIndicatorIcon {
        height: 1rem;
        width: 1rem;
    }
}