@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

    .Root {
        --cell-size: 32px;
        --rdp-animation_duration: 0.3s;
        --rdp-animation_timing: cubic-bezier(0.4, 0, 0.2, 1);

        position: relative;
        box-sizing: border-box;
        font-family: Heebo, geist;
        border-radius: 0.635rem;
    }

    .CaptionLabel {
        z-index: 1;
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        height: 2rem;
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.25rem;
        white-space: nowrap;
        border: 0;
    }

    .Nav {
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        display: flex;
        align-items: center;
    }

    .ButtonNext,
    .ButtonPrevious {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font: inherit;
        color: inherit;
        -moz-appearance: none;
        -webkit-appearance: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        appearance: none;

        width: var(--cell-size);
        height: var(--cell-size);
        border-radius: 0.375rem;

        &:focus-visible {
            outline: 2px solid var(--color-primary);
        }

        &:hover {
            background-color: var(--color-hover);
        }
    }

    .ButtonNext:disabled,
    .ButtonNext[aria-disabled="true"],
    .ButtonPrevious:disabled,
    .ButtonPrevious[aria-disabled="true"] {
        cursor: revert;
        opacity: 0.5;
    }

    .Chevron {
        display: inline-block;
        color: var(--color-gray-500);
        width: var(--text-xs);
        height: var(--text-xs);
    }

    .Root[dir="rtl"] .Nav .Chevron {
        transform: rotate(180deg);
        transform-origin: 50%;
    }

    .Dropdowns {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }

    .Dropdown {
        z-index: 2;
        opacity: 0;
        appearance: none;
        position: absolute;
        inset-block-start: 0;
        inset-block-end: 0;
        inset-inline-start: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        cursor: inherit;
        border: none;
        line-height: inherit;

        &:focus-visible ~ .CaptionLabel {
            outline: 2px auto var(--color-primary);
        }
    }

    .DropdownRoot {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: var(--cell-size);
        border-radius: 0.375rem;
        box-shadow: 0 1px 2px 0 #0000000d;
        border: 1px solid var(--color-border);
    }

    .DropdownRoot[data-disabled="true"] .Chevron {
        opacity: var(--rdp-disabled-opacity);
    }

    .MonthCaption {
        display: flex;
        align-items: center;
        user-select: none;
        font-weight: var(--font-weight-medium);
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
        height: var(--cell-size);
        padding-inline: var(--cell-size);
    }

    .Root[data-nav-layout="around"] .Month,
    .Root[data-nav-layout="after"] .Month {
        position: relative;
    }

    .Root[data-nav-layout="around"] .MonthCaption {
        justify-content: center;
        position: relative;
    }

    .Root[data-nav-layout="around"] .ButtonPrevious {
        position: absolute;
        inset-inline-start: 0;
        top: 0;
        display: inline-flex;
        justify-content: center;
        z-index: 10;
    }

    .Root[data-nav-layout="around"] .ButtonNext {
        position: absolute;
        inset-inline-end: 0;
        top: 0;
        display: inline-flex;
        justify-content: center;
        z-index: 10;
    }

    .Months {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: fit-content;
    }

    .MonthGrid {
        border-collapse: collapse;
    }

    .Month {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .Weekdays {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .Week {
        display: flex;
        width: 100%;
        margin-top: 0.5rem;
    }

    .Weekday {
        color: var(--color-gray-500);
        width: var(--cell-size);
        font-weight: var(--font-weight-medium);
        font-size: 0.8rem;
        text-align: center;
    }

    .WeekNumber {
        color: var(--color-gray-500);
        font-weight: 400;
        font-size: var(--text-sm);
        line-height: 1;
        display: flex;
        align-items: center;
        padding-inline: 0.25rem;
        height: var(--cell-size);
        border-radius: 0.625rem;
        text-align: center;
    }

    .Day {
        position: relative;
        width: var(--cell-size);
        height: var(--cell-size);
        border-radius: 0.375rem;

        &.Today:not(.Outside):not(.Selected) {
            background-color: var(--color-hover);
        }

        &.Selected {
            background-color: var(--color-gray-800);
            color: white;
        }

        &:hover:not(.Selected) {
            background-color: var(--color-hover);
        }

        &.Outside:not(.Selected) {
            color: var(--color-gray-400);
        }

        &.Disabled {
            color: var(--color-disabled);

            &.Selected {
                color: var(--color-gray-500);
                background-color: var(--color-gray-200);
            }
        }

        &.Hidden {
            visibility: hidden;
        }

        &.RangeStart {
            background-color: var(--color-hover);
            border-radius: 0;
            border-start-start-radius: 0.625rem;
            border-end-start-radius: 0.625rem;
        }

        &.RangeEnd {
            background-color: var(--color-hover);
            border-radius: 0;
            border-start-end-radius: 0.625rem;
            border-end-end-radius: 0.625rem;
        }

        &.RangeStart.RangeEnd {
            background: revert;
        }

        &.RangeStart .DayButton,
        &.RangeEnd .DayButton {
            background-color: var(--color-gray-800);
        }

        &.RangeMiddle {
            background-color: var(--color-hover);
            color: var(--color-gray-900);
            border-radius: 0;

            &:first-child {
                border-start-start-radius: 0.625rem;
                border-end-start-radius: 0.625rem;
            }

            &:last-child {
                border-start-end-radius: 0.625rem;
                border-end-end-radius: 0.625rem;
            }
        }
    }

    .DayButton {
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font: inherit;
        color: inherit;
        justify-content: center;
        align-items: center;
        display: flex;
        white-space: nowrap;

        font-size: var(--text-sm);
        font-weight: 400;
        line-height: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        user-select: none;

        &:focus-visible {
            outline: 2px solid var(--color-primary);
        }

        &:disabled {
            cursor: revert;
        }
    }

    .Focusable {
        cursor: pointer;
    }

    @keyframes rdp-slide_in_left {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes rdp-slide_in_right {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes rdp-slide_out_left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes rdp-slide_out_right {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }

    .WeeksBeforeEnter {
        animation: rdp-slide_in_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }

    .WeeksBeforeExit {
        animation: rdp-slide_out_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }

    .WeeksAfterEnter {
        animation: rdp-slide_in_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }

    .WeeksAfterExit {
        animation: rdp-slide_out_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }

    .Root[dir="rtl"] {
        & .WeeksAfterEnter {
            animation: rdp-slide_in_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
        }

        & .WeeksBeforeExit {
            animation: rdp-slide_out_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
        }

        & .WeeksBeforeEnter {
            animation: rdp-slide_in_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
        }

        & .WeeksAfterExit {
            animation: rdp-slide_out_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
        }
    }

    @keyframes rdp-fade_in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes rdp-fade_out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .CaptionAfterEnter {
        animation: rdp-fade_in var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }

    .CaptionAfterExit {
        animation: rdp-fade_out var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }

    .CaptionBeforeEnter {
        animation: rdp-fade_in var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }

    .CaptionBeforeExit {
        animation: rdp-fade_out var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
    }
}
